*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
} 

.container{
    width: 90%;
    margin-inline: auto;
}

.our-product{
    width: 100%;
    height: 100vh;
    display: flex;
}

.our-product .box-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.our-product h1{
    font-size: 35px;
    color: #095754;
    text-align: center;
}

.our-product .box-product img{
  width: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.our-product .box-product button{
    border: 2px solid #095754;
    border-radius: 10px;
    color: #095754;
    background-color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
  }

  .our-product .box-product button:hover{
    background: #095754;
    color: white;
  }

.our-product .box-product .box:nth-child(1){
    padding-left: 60px;
    margin-left: 100px;
    margin-right: 50px;
}

.our-product .box-product .box:nth-child(1) p{
    font-size: 15px;
    text-align: justify;
}

.our-product .box-product .box:nth-child(2){
    padding-right: 60px;
    margin-left: 50px;
    margin-right: 100px;
}
.our-product .box-product .box:nth-child(2) p{
    font-size: 15px;
    text-align: justify;
}

@media screen and (max-width: 990px){
    .our-product .box-product{
        flex-direction: column-reverse;
    }
    .our-product .box-product .box:nth-child(1){
        padding-left: 0px;
        margin-left: 60px;
    }
    .our-product{
        height: 120vh;
    }
    .our-product .box-product .box:nth-child(2){
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 60px;
    }
    .our-product .box-product button{
        margin-top: 20px;
      }
}

@media screen and (max-width: 420px){
    .our-product .box-product{
        flex-direction: column-reverse;
    }
    .our-product .box-product .box:nth-child(1){
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .our-product{
        height: 133vh;
    }
    .our-product .box-product .box:nth-child(2){
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;

    }
    .our-product .box-product button{
        margin-top: 5px;
      }
      .our-product .box-product img{
        width: 190px;
        padding-top: 30px;
        padding-bottom: 5px;
      }
}

/* OUR EVENTS */
.our-event{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(backgroundEvent.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.our-event h1{
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: -350px;
    padding-top: 70px;
}



/* Our Vision & Mission */
.visi-misi{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #095754;
}
.visi-misi h1{
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.visi-misi hr{
    margin-top: 10px;
    margin-bottom: -10;
}

.visi-misi .vision img{
    width: 130px;
    position: relative;
    margin-top: 50px;
}

.visi-misi .vision h2{
    color: white;
    margin-left: 24px;
}
.visi-misi .vision p{
    color: white;
    font-size: 20px;
    margin-left: 170px;
    margin-top: -120px;
    text-align: justify;
}
.visi-misi .mission img{
    width: 110px;
    position: relative;
    margin-top: 100px;
    margin-left: 5px;
}
.visi-misi .mission h2{
    color: white;
    margin-left: 13px;
}
.visi-misi .mission p{
    color: white;
    font-size: 20px;
    margin-left: 170px;
    margin-top: -147px;
    margin-bottom: 30px;
    text-align: justify;
}

/* OUR HISTORY */
.our-history{
    width: 100%;
    /* height: 55vh; */
    height: 100%;
    display: flex;
    background-color: #095754;
}
.our-history h1{
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
 .our-history hr{
    margin-top: 10px;
    margin-bottom: 20px;
 }
 .our-history p{
    color: white;
    font-size: 20px;
    text-align: justify;
 }

 /* OUR PARTNER */
 .our-partner h1{
    text-align: center;
    font-size: 35px;
    color: #095754;
    padding-top: 90px;
 }

 .our-partner img{
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }



 /* OUR PROGRAM */
 .our-program{
    width: 100%;
    height: 100%;
    display: flex;
 }

 .our-program h1{
    font-size: 35px;
    text-align: center;
    color: #095754;
    padding-top: 50px;
 }