/* Our Activity */
.our-activity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.our-activity {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.our-activity h1 {
    text-align: center;
    color: #095754;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.activity-container {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activity-container>* {
    margin: 40px;
}

.activity {
    display: flex;
}

.activity-1 {
    padding-left: 30px;
}

.activity-2 {
    padding-right: 40px;
}

.title-and-logo {
    text-align: center;
    padding-right: 20px;
}

.title-and-logo h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.title-and-logo img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mentor {
    margin-bottom: 2rem;
}

.mentor h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #095754;
    margin: 0;
}

.mentor h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.mentee h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #CAA00A;
    margin: 0;
}

.mentee h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.nindyas h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #095754;
    margin: 0;
}

.nindyas h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #ADADAD;
}

.nindyas h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.explain {
    margin-bottom: 50px;
}

.explain p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

.benefit {
    display: flex;
    flex-direction: row;
}

.benefit>* {
    margin-bottom: 50px;
}

.benefit h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.check-text {
    display: flex;
    margin-top: 15px;
}

.check-text img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.check-text h5 {
    margin-top: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

.join-button {
    display: inline-block;
}

.join-button-mentor {
    display: block;
    text-align: center;
}

.join-button-mentee {
    display: block;
    text-align: center;
    margin-left: 85px;
}

.join-button-mentor h5 {
    padding-top: 25px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #095754;
}

.join-button-mentee h5 {
    padding-top: 25px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #E6E6E6;
}

.mentor-button {
    background-color: #095754;
    border-radius: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 600;
}

.nindya-button {
    background-color: #095754;
    border-radius: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 600;
}

.mentee-button {
    background-color: #E6E6E6;
    border-radius: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 600;
}

.division {
    display: block;
    margin-bottom: 31px;
}

.division h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}

.topdiv {
    display: flex;
}

.botdiv {
    display: flex;
}

.div {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.div h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: medium;
    color: white;
}

.div img {
    margin-right: 15px;
}

.div h2 {
    padding: 5px 5px;
    text-align: center;
}

#hc #marketing img {
    width: 30px;
    height: 27px;
}

#learning #it img {
    width: 35px;
    height: 27px;
}

#hc {
    background-color: #FF8484;
    padding: 15px 20px;
    border-radius: 8px;
}

#learning {
    background-color: #FFB084;
    padding: 15px 20px;
    border-radius: 8px;
}

#marketing {
    background-color: #8498FF;
    padding: 15px 20px;
    border-radius: 8px;
}

#it {
    background-color: #C184FF;
    padding: 15px 20px;
    border-radius: 8px;
}

@media screen and (max-width: 700px) {
    .our-activity .activity>* {
        display: flex;
        margin: 40px 40px;
        justify-content: space-between;
    }

    .our-activity h1 {
        width: 100%;
    }

    .activity .left,
    .activity .right {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 100%;
    }

    .benefit {
        margin-bottom: 30px;
    }

    .join-button {
        display: block;
        align-items: center;
    }

    .join-button-mentee {
        margin-bottom: 30px;
    }

    .topdiv,
    .botdiv {
        display: block;
        justify-content: space-evenly;
    }
}