.section-activity {
    width: 100%;
    margin: 2rem auto 4rem;
    padding: 4rem 0;
}

.section-activity .container{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.section-activity > h1 {
    text-align: center;
    margin-bottom: 4rem;
    color: #095754;
}

.section-activity .activity {
    max-width: 42rem;
    display: flex;
    gap: 2rem;
    flex: 1 1 20em;
}
/* Headers */
.section-activity .header > h2{
    font-family: Rubik, sans-serif;
    text-align: center;
}

/* Infoline */
.section-activity .infoline,
.section-activity .infoline > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-activity .infoline{
    gap: 1rem;
    margin-top: 1rem;
}

.section-activity .infoline h2{
    font-weight: bold;
    font-size: 2.5rem;
}
.section-activity .infoline p{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
.mentorcolor,
.nindyacolor{
    color: #095754;
}
.menteecolor{
    color: #CAA00A;
}

/* Benefits */
.section-activity .mentor-benefits,
.section-activity .mentee-benefits{
    max-width: 15rem;
}
.section-activity .benefits ul{
    text-decoration: none;
    list-style: none;
    margin-top: 1rem;
}
.section-activity .benefits{
    margin: 2rem auto 0;
    display: flex;
    width: 30rem;
    gap: 2rem;
}
.section-activity li{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section-activity li + li{
    margin-top: 0.5rem;
}
.section-activity .benefits > div{
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
}

/* Divisions */
.divisions-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 1rem;
}
.humancapital{
    background-color: #FF8484;
}
.learning{
    background-color: #FFB084;
}
.marketing{
    background-color: #8498FF;
}
.it{
    background-color: #C184FF;
}

.division-card{
    display: flex;
    align-items: center;
    width: max-content;
    color: white;
    padding: 10px;
    border-radius: 5px;
    gap: 1rem;
}
.division-card img{
    width: 2rem;
}

/* Join Button */
.section-activity .button{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
}
.section-activity .button-container{
    width: max-content;
}

.section-activity a{
    text-decoration: none;
    
}
.section-activity .join_button{
    padding: 1.25rem 2.5rem;
    display: flex;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.section-activity .mentor-join_button,
.section-activity .nindya-join_button{
    background-color: #095754;
}
.section-activity .mentee-join_button{
    background-color: #E6E6E6;
    cursor: not-allowed;
}
.section-activity .mentor-info,
.section-activity .nindya-info{
    color: #095754;
}

.section-activity .mentee-info{
    color: #E6E6E6;
}


.mentor-info,
.mentee-info,
.nindya-info{
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .section-activity .benefits{
        flex-direction: column;
        gap: 2rem;
    }
    .section-activity .button{
        flex-direction: column;
        gap: 1rem;
    }
}
@media screen and (max-width: 1190px) {
    .section-activity .activity {
        display: block;
    }
    .section-activity .header{
        text-align: center;
    }
    .section-activity .infoline{
        flex-direction: row;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .section-activity .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-activity .benefits{
        flex-direction: row;
        justify-content: center;
    }
    .section-activity .button{
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }
}

@media screen and (max-width: 580px) {
    .section-activity .benefits{
        flex-direction: column;
        align-items: left;
        width: 12rem;
        margin: 2rem auto;
    }
    .section-activity .button{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}