.carousel{
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

.carousel-background, .carousel-foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}


.button-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-wrapper img{
    width: 2.5vw;
    margin: 1.5vw 1.5vw;
}

.button-wrapper a{
    cursor: pointer;
    display: flex;
}

.carousel .hide{
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

@media screen and (max-width: 426px) {
    .button-wrapper img{
        width: 5vw;
    }
}
