.main-content{
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

.dot-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dot-container .dot{
    width: 1rem;
    height: 1rem;
    border: 2px solid white;
    background: none;
    margin-top: -50px;
    z-index: 2;
    border-radius: 100px;
    cursor: pointer;
}

.dot-container .dot.selected-dot{
    background: white;
}

.carousel .linear-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #000000 -30.2%, rgba(255, 255, 255, 0) 65.11%);
    z-index: 1;
}

.carousel-background, .carousel-foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}


.button-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.button-wrapper img{
    width: 3rem;
    margin: 1rem 1rem;
}

.button-wrapper a{
    cursor: pointer;
    display: flex;
}

.carousel .hide{
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

@media screen and (max-width: 426px) {
    .button-wrapper img{
        width: 2rem;
    }
}
