/* Our Events */
.our-event {
    width: 100%;
    background-image: url('../images/backgroundEvent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4rem auto;
    padding: 4rem 0;
}

.our-event h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.our-event .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.our-event .box {
    background: #00000080;
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-event .box-kiri img {
    width: 100%;
    display: block;
}

.our-event .box-kiri {
    max-width: 40rem;
}

/* Box Kanan */
.our-event .box-kanan {
    max-width: 40rem;
    padding: 3rem;
}

.our-event .box-kanan h1 {
    font-size: 40px;
    font-family: rubik;
    font-style: italic;
    font-weight: 500;
    text-align: left;
}

.our-event .box-kanan p {
    color: white;
    font-size: 24px;
}

.our-event .box-kanan ul li {
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
}

.our-event .box-kanan ul li i {
    font-size: 24px;
    color: white;
    margin-right: 1rem;
}

.our-event .right {
    width: 3rem;
    float: right;
    display: block;
}

.our-event .left {
    width: 3rem;
    float: left;
    display: block;
}

@media screen and (max-width: 1440px) {
    .our-event .box-kanan h1 {
        font-size: 1.5rem;
    }

    .our-event .box-kanan {
        padding: 0 1.5rem;
    }

    .our-event .box-kanan p {
        color: white;
        font-size: 1rem;
    }

    .our-event .box-kanan ul li {
        margin: 1rem auto;

    }
}

@media screen and (max-width: 1024px) {

    .our-event .box {
        margin: 0 2.5rem;
        display: block;
    }

    .our-event .box-kanan {
        padding: 3rem;
    }
}

@media screen and (max-width: 425px) {

    .our-event .right {
        display: none;
    }

    .our-event .left {
        display: none;
    }
    .our-event .box-kanan {
        padding: 1.5rem;
    }
    .our-event .box {
        margin: 0;
    }
}