/* Our Events */
.our-event {
    width: 100%;
    background-image: url('../images/backgroundEvent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 4rem 0;
}

.our-event h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.our-event .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.our-event .box {
    background: #00000080;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-event .box-kiri img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.our-event .box-kiri{
    width: 40vw;
    height: 40vw;
}

/* Box Kanan */
.our-event .box-kanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 40vw;
    padding: 3rem;
}

.our-event .box-kanan h1 {
    font-size: 40px;
    font-family: rubik;
    font-style: italic;
    font-weight: 500;
    text-align: left;
}

.our-event .box-kanan p {
    color: white;
    font-size: 24px;
}

.our-event .box-kanan ul li {
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
}

.our-event .box-kanan ul li i {
    font-size: 24px;
    color: white;
    margin-right: 1rem;
}

.our-event .button-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.our-event .button-container > * {
    margin: 40px;
}

.our-event .right {
    width: 3rem;
    display: block;
}

.our-event .left {
    width: 3rem;
    display: block;
}


.our-event .dot-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.our-event .dot-container .dot{
    width: 1rem;
    height: 1rem;
    border: 2px solid white;
    background: none;
    z-index: 2;
    border-radius: 100px;
    cursor: pointer;
}

.our-event .dot-container .dot.selected-dot{
    background: white;
}

.our-event a{
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-top: 1rem;
    color: white;
    padding: 20px;
    border: 1px white solid;
}

.our-event a:hover{
    background-color: #095754;
}

@media screen and (max-width: 1440px) {
    .our-event .box-kanan h1 {
        font-size: 1.5rem;
    }
    
    .our-event .box-kanan p {
        color: white;
        font-size: 1rem;
    }
    
    .our-event .box-kanan ul li {
        margin: 1rem auto;
        
    }
}

@media screen and (max-width: 1024px) {
    
    .our-event .box {
        margin: 0 2.5rem;
        display: block;
    }
    
    .our-event .box-kanan {
        padding: 3rem;
        width: auto;
        height: auto;
    }

    .our-event .box-kiri{
        width: auto;
        height: auto;
    }
    
    .our-event a{
        align-self: center;
    }
}

@media screen and (max-width: 768px){
    .our-event .left, .our-event .right{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    
    .our-event .box-kanan {
        padding: 1.5rem;
    }
    .our-event .box {
        margin: 0;
    }
}