/* Our Historuy */
.our-history {
    width: 100%;
    /* height: 55vh; */
    height: 100%;
    display: flex;
    background-color: #095754;
}

.our-history h1 {
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.our-history hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.our-history p {
    color: white;
    font-size: 20px;
    text-align: justify;
}