/* Our History */
.our-history {
    width: 100%;
    display: flex;
    background-color: #095754;
    margin: 4rem auto;
    padding: 4rem 0;
}
.our-history .container{
    max-width: 50rem;
}

.our-history h1 {
    color: white;
    text-align: center;
    margin-bottom: 4rem;
}

.our-history p {
    color: white;
    text-align: justify;
    line-height: 1.5;
}