.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: transparent;
  transition: 0.6s;

}

.navbar .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo-container {
  margin-left: 64px;
}

.navbar .logo-container img {
  height: auto;
  width: 120px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 15px 0;
}

.navbar .logo-container #logoScroll {
  display: none;
}

.navbar .section-container {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.navbar .burger-icon {
  display: none;
  color: #fff;
}

.navbar .section-container a {
  margin: 0 32px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  font-weight: 500;
}

.navbar .section-container .btn-join {
  background-color: #095754;
  color: #fff;
  border-radius: 30px;
  padding: 15px 30px;
}

.navbar .section-container .btn-join:hover {
  background-color: #19a89d;
  color: #fff;
}

.navbar .section-container a:hover {
  color: #19a89d;
}

.navbar.sticky {
  background: white;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar.sticky img {
  width: 80px;
  height: auto;
  padding: 0;
}

.navbar.sticky .logo-container #logoScroll {
  display: block;
}

.navbar.sticky .logo-container #logoDefault {
  display: none;
}

.navbar.sticky .section-container a {
  font-size: 1rem;
  color: #000000;
}

.navbar.sticky .section-container .btn-join {
  background-color: #095754;
  color: #fff;
}

.navbar.sticky .section-container .btn-join:hover {
  background-color: #19a89d;
  color: #fff;
}

.navbar.sticky .section-container a:hover {
  color: #19a89d;
}



/* Responsive */
@media screen and (max-width: 1280px) {

  .navbar,
  .navbar.sticky {
    display: block;
    font-size: 1rem;

  }

  .navbar {
    background: linear-gradient(180deg,
        #000000 -9.32%,
        rgba(255, 255, 255, 0) 100%);

  }

  .navbar .section-container {
    background-color: #fff;
  }

  .navbar .section-container .menu a {
    color: #000000;
  }


  .navbar .logo-container {
    margin-left: 18px;
  }

  .navbar .logo-container img {
    padding: 0;
    width: 75px;
    height: auto;
    padding: 10px 0;
  }

  .navbar .burger-icon {
    padding: 0;
    display: block;
  }

  .navbar .burger-icon img:hover {
    cursor: pointer;
  }

  .navbar .btn-join {
    background-color: #095754;
  }

  .navbar.sticky .burger-icon img {
    padding: 0;
    width: inherit;
    filter: invert(100%);
  }

  .navbar.sticky img {
    padding: 5px 0;
  }

  .navbar.sticky .menu a {
    font-size: 0.75rem;
  }

  .navbar.sticky .burger-icon img:hover {
    transition: filter 0.3s ease;
    filter: invert(59%) sepia(41%) saturate(5200%) hue-rotate(139deg) brightness(92%) contrast(80%);
  }

  .navbar .burger-icon {
    padding: 0;
    height: inherit;
    margin: 5px 30px;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .menu.toggle a {
    text-align: center;
    display: block;
    font-size: 1rem;
    padding: 2.5vh 0;
  }

  .navbar .menu.toggle {
    display: block;
    text-align: left;
    width: 100vw;
  }

  .navbar .menu.toggle .btn-join {
    text-align: center;
    margin: 1vh 20px;
  }
}