/* CSS Our Program */
.our-program {
    margin: 4rem 0;
    width: 100%;
}

.our-program h3 {
    text-align: center;
    font-size: 2rem;
    color: #095754;
}

.programs {
    text-align: center;
    margin: 2rem;
}

.programs a {
    margin: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.programs a img {
    width: 4rem;
}

.our-program .content {
    position: relative;
    width: 100%;
}

.content .box-our-program {
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    background-color: white;
    z-index: 1;
    padding: 2.5rem 5rem;
    position: absolute;
    max-width: 35rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.content #img-content {
    width: 100%;
}


.logo-our-program {
    margin: 0 0 1.5rem;
    display: flex;
    align-items: center;
}

.logo-our-program h3 {
    display: inline-block;
    margin-left: 1.5rem;
}

.box-our-program .logo-our-program img {
    width: 3rem;
}

.box-our-program p {
    text-align: justify;
    line-height: 1.5;
}


/* Tablet */
@media screen and (max-width: 936px) {
    .content .box-our-program {
        padding: 2.5rem 8rem;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 1;
        margin: 0;
        overflow-y: auto;
        max-width: unset;
        top: unset;
        left: unset;
        transform: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 770px) {
    .content #img-content {
        display: none;
    }
    
    .content .box-our-program {
        position: unset;
        padding: 2.5rem 10%;
    }
}