/* Our Partner */
.our-partner h1 {
    text-align: center;
    font-size: 35px;
    color: #095754;
    padding-top: 90px;
}

.our-partner img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}