/* Our Partner */
.our-partner{
    margin: 2rem auto 4rem;
}
.our-partner h1 {
    text-align: center;
    color: #095754;
    margin-bottom: 2rem;
}

.our-partner img {
    width: 75%;
    max-width: 30rem;
    display: block;
    margin: 0 auto;
}