.our-product {
    width: 100%;
    display: flex;
    margin-top: 4rem;
}

.our-product .box-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.our-product .box-product .box:nth-child(1) {
    width: 100%;
}

.our-product .box-product .box:nth-child(2) {
    width: 100%;
}

.our-product h1 {
    font-size: 40px;
    color: #095754;
    text-align: center;
}

.our-product .box-product img {
    width: 50px;
}

.our-product .box ul {
    flex-direction: column;
}

.our-product .box ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.our-event .box .box-kanan ul li img {
    margin-inline: 10px;
    font-size: 24px;
    color: white;
    margin-left: 20px;
}

.our-product .box-product .box:nth-child(1) h2 {
    margin-left: 1rem;
    font-size: 24px;
}

.our-product .box-product .box:nth-child(2) h2 {
    margin-left: 1rem;
    font-size: 24px;
}

.our-product .box-product .box:nth-child(2) a button ul li img {
    width: 30%;
    margin-right: 0.6rem;
}

.our-product .box-product .box:nth-child(1) a button ul li img {
    width: 30%;
    margin-right: 0.6rem;
}

.our-product .box-product .box:nth-child(1) button {
    color: white;
    background-color: #095754;
    padding: 0rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 60px;
    border-style: none;
    border-radius: 15px;
}

.our-product .box-product .box:nth-child(2) button {
    color: white;
    background-color: #F26F61;
    padding: 0rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 60px;
    border-style: none;
    border-radius: 15px;
}

.our-product .box-product button:hover {
    background: #095754;
    color: white;
}

.our-product .box-product .box:nth-child(1) {
    padding-left: 100px;
}

.our-product .box-product .box:nth-child(1) p {
    font-size: 16px;
    text-align: justify;
}

.our-product .box-product .box:nth-child(2) {
    padding-left: 50px;
    padding-right: 25px;
}

.our-product .box-product .box:nth-child(2) p {
    font-size: 16px;
    text-align: justify;
}