.our-products{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.our-products .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
}

.our-products .products > *{
    max-width: 500px;
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-products .description{
    margin-bottom: 20px;
}

.our-products .description .context{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.our-products h2{
    font-family: Rubik, sans-serif;
    font-weight: bold;
}

.our-products p{
    font-family: inter, sans-serif;
}


.our-products .description .context > *:nth-child(1){
    margin-right: 20px;
}

.our-products .visit-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    width: 120px;
    padding: 15px 20px;
}

.our-products .visit-button.elearning{
    background-color: #095754;
}

.our-products .visit-button.emagazine{
    background-color: #F26F61;
}

.our-products .visit-button{
    font-weight: bold;
}